<% if @projects.empty? %> 
    <div class="empty-state-container">
        <div class="alert alert-info">
            <p>No projects created yet</p>
            <%= link_to new_project_path, class: "btn btn-success" do %>
                <i class="fa fa-plus"></i>
                Create Project
            <% end %>
        </div>
    </div>
<% end %>

<div class="project-container">
    <% @projects.each do |project| %>
        <%= link_to project do %>
            <div class="col-md-4">
                <div class="media">
                    <div class="media-body">
                        <h2 class="media-heading"><%= truncate project.name, length: 29 %></h2>
                        <% if project.description.empty? %>
                            <%= link_to edit_project_path(project), {:class => 'internal-project-link'} do %>
                                <i class="fa fa-plus"></i>
                                Add Description
                            <% end %>
                        <% end %>
                        <p><%= truncate project.description, length: 140 %></p>
                    </div>
                </div>
            </div>
        <% end %>
    <% end %>
</div>
